In [1]:
import requests as r
import pandas as pd
import datetime as dt
import html5lib

Get the season data for the Cubs so we can look at their win/loss record.

In [2]:
#Set the base URL for the team franchise data
record_url = 'http://www.baseball-reference.com/teams/CHC/#franchise_years::none'

#Request the page and convert to Text
page = r.get(record_url).text

#Read the page and return a list of DataFrames
team_record = pd.read_html(io=page)

#In this case the relevent DataFrame is the first one.
cubs_record = team_record[0]

team_record[0].head(5)

,Rk,Year,Tm,Lg,G,W,L,Ties,W-L%,pythW-L%,...,GB,Playoffs,R,RA,BatAge,PAge,#Bat,#P,Top Player,Managers
0,1,2015,Chicago Cubs,NL Central,138,80,58,0,0.580,0.536,...,7.5,NaN,584,540,27.0,29.3,50,29,J.Arrieta (6.9),J.Maddon (80-58)
1,2,2014,Chicago Cubs,NL Central,162,73,89,0,0.451,0.436,...,17.0,NaN,614,707,26.8,28.0,48,27,J.Arrieta (5.6),R.Renteria (73-89)
2,3,2013,Chicago Cubs,NL Central,162,66,96,0,0.407,0.439,...,31.0,NaN,602,689,27.9,28.7,56,31,T.Wood (5.2),D.Sveum (66-96)
3,4,2012,Chicago Cubs,NL Central,162,61,101,0,0.377,0.403,...,36.0,NaN,613,759,27.8,27.9,53,30,D.Barney (4.6),D.Sveum (61-101)
4,5,2011,Chicago Cubs,NL Central,162,71,91,0,0.438,0.434,...,25.0,NaN,654,756,29.3,29.4,42,22,S.Castro (3.0),M.Quade (71-91)

In [4]:
#Download multiple years of game results.

#Build an empty table for storing the data.
results_columns = ['Rk', 'Gm#', 'Date', 'Unnamed: 3', 'Tm', ' ', 'Opp', 'W/L', 'R', 'RA','Inn', 'W-L', 'Rank', 
                   'GB', 'Win', 'Loss', 'Save', 'Time', 'D/N', 'Attendance', 'Streak', 'Year']
team_results=pd.DataFrame(columns=results_columns,dtype=object)

#Settings
first_year = 2001
last_year = 2015

#Loop through the years to download all the data
for year in range(first_year,last_year+1):
    #Build the URL for each year
    cubs_schedule_url = 'http://www.baseball-reference.com/teams/CHC/%s-schedule-scores.shtml#team_schedule::none' % year
    
    #Request the data and load it into a DataFrame
    page = r.get(cubs_schedule_url).text
    year_results = pd.read_html(io=page)
    
    #In this case the relevent table is always the last one.
    year_frame = year_results[len(year_results)-1]
    
    #Because the date doesn't have a year (Season) add it
    year_frame['Year']=year
    
    #Copy this year's data into the main DataFrame
    team_results = team_results.append(year_frame)
    
#Trim the Dataset    
team_wins = team_results[['Year','Date','W/L','W-L','Gm#']]

#Clean up the data
#Clear out the rows without data or rows that don't represent an observation
team_wins = team_wins.dropna(subset=['W-L'],how='all')
team_wins = team_wins[team_wins['W/L']!='W/L']
#Recode the walk-offs to just wins
team_wins['W/L']=team_wins['W/L'].replace('W-wo','W')
team_wins['W/L']=team_wins['W/L'].replace('L-wo','L')
#Recode W and L to 1 and 0
team_wins['W']=team_wins['W/L'].replace('W','1')
team_wins['W']=team_wins['W'].replace('L','0')
#Create a full date field and clean it up.
team_wins['FullDate'] = team_wins['Date']+', '+team_wins['Year'].astype('int').map(str)
team_wins['FullDate']=team_wins['FullDate'].str.replace(' \(1\),',',')
team_wins['FullDate']=team_wins['FullDate'].str.replace(' \(2\),',',')
team_wins['FullDate']=team_wins['FullDate'].str.replace(' 1,',' 01,')
team_wins['FullDate']=team_wins['FullDate'].str.replace(' 2,',' 02,')
team_wins['FullDate']=team_wins['FullDate'].str.replace(' 3,',' 03,')
team_wins['FullDate']=team_wins['FullDate'].str.replace(' 4,',' 04,')
team_wins['FullDate']=team_wins['FullDate'].str.replace(' 5,',' 05,')
team_wins['FullDate']=team_wins['FullDate'].str.replace(' 6,',' 06,')
team_wins['FullDate']=team_wins['FullDate'].str.replace(' 7,',' 07,')
team_wins['FullDate']=team_wins['FullDate'].str.replace(' 8,',' 08,')
team_wins['FullDate']=team_wins['FullDate'].str.replace(' 9,',' 09,')
#Convert the date field to a date/time object
team_wins['dt']=pd.to_datetime(team_wins['FullDate'].astype('str'),format='%A, %b %d, %Y')
team_wins['dt']=team_wins['dt'].apply(lambda x: x.date())

In [5]:
team_wins.head()

   Year              Date W/L  W-L Gm#  W                 FullDate          dt
0  2001     Monday, Apr 2   L  0-1   1  0     Monday, Apr 02, 2001  2001-04-02
1  2001  Wednesday, Apr 4   L  0-2   2  0  Wednesday, Apr 04, 2001  2001-04-04
2  2001   Thursday, Apr 5   W  1-2   3  1   Thursday, Apr 05, 2001  2001-04-05
3  2001     Friday, Apr 6   W  2-2   4  1     Friday, Apr 06, 2001  2001-04-06
4  2001   Saturday, Apr 7   W  3-2   5  1   Saturday, Apr 07, 2001  2001-04-07

In [6]:
#Create a list of days from today back to Jan 2004
numdays = 5000

base = dt.datetime.today()
date_list = [base - dt.timedelta(days=x) for x in range(1, numdays)]

padded_wins = pd.DataFrame(index=date_list)
padded_wins['date']=padded_wins.index
padded_wins['date']=padded_wins['date'].apply(lambda x: x.date())

padded_wins = pd.merge(padded_wins,team_wins[['dt','W']],how='left',left_on='date',right_on='dt')

Now we have an array of the game result by day. This is the "signal" that we will be passing to the backtesting engine

In [81]:
#Simplest: Use the forward fill
forward_fill=padded_wins.fillna(method='ffill')

But what about the research we did?  If we do this then the signal for the offseason and for every off-day will be whatever last happened. We can make it a little smarter.

In [ ]:
#Pad the nulls for the offseason based on the teams win/loss record.

In [83]:
#Trim to just the date and the Win/Loss Marker and output
padded_wins[['date','W']].to_csv('wins.csv',index=False)

#Trim and output the annual records.
cubs_record[['Year','G','W','L','W-L%']].to_csv('record.csv',index=False)